@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.container-course h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 6%;
}

.container-course h2 {
    text-align: center;
}

.container-course p {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.info h1 {
    font-weight: bold;
    margin-top: 6%;
}

.info p {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#description {
    width: 500px;
}
#profile {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

.info { 
    position: relative;
    float: left;
    margin-top: -25%;
    margin-left: 35%;
}
.image {
    position: relative;
    margin-top: 3%;
    float: left;
}

.user {
    width: 60%;
    height: 60%;
    position: absolute;
    left: 25%;
    top: 10%;
    justify-content: center !important;

}

.container-course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 400px;
    margin: auto;
    margin-bottom: 7%;
    
}
.courses { 
    margin-top: 5%;
    justify-content: center;
}

hr {
    margin-top: 20%;
    border:5px solid #7f2982;
}